<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Rest Api</title>
  </head>
  <body>
    
    <!-- <form action="/", method="POST">
      <input type="number" name="tgl" placeholder="masukkan data ke">
      <input type="submit">
    </form> -->

    <!-- <h1>the result</h1>
    {{ nn }} -->
    <h1 style="text-align: center;">Daftar Prediksi Harga Bahan Pangan Nasional</h1>
    <p></p>
    <p></p>
<p></p>

    <div class="container">
      <div class="row align-items-center">
        <div style="position:absolute; top: 15%; left: 15%;">
          <div class="col-sm-4">
              <div class="card border-primary mb-3">
                  <div class="card-header">Prediksi Harga Daging Ayam Ras Segar</div>
                  <div class="card-body text-primary">
                    <p class="card-text">Prediksi harga daging ayam ras segar berlaku untuk 5 hari berikutnya dengan menggunakan harga 7 hari terakhir.</p>
                  <form action="/da", method="POST">
                  <input type="submit" name="subb" class="btn btn-primary" value="Lihat Prediksi Harga Daging Ayam">
                  </form>
                  </div>
                </div>
              </div>
          </div>
          <div style="position:absolute; top: 15%; left: 50%;">
          <div class="col-sm-4">
            <div class="card border-secondary mb-3">
                <div class="card-header">Prediksi Harga Beras Kualitas Bawah II</div>
                <div class="card-body text-secondary">
                  <p class="card-text">Prediksi harga beras kualitas bawah II berlaku untuk 5 hari berikutnya dengan menggunakan harga 7 hari terakhir.</p>
                <form action="/da", method="POST">
                <input type="submit" name="subb" class="btn btn-primary" value="Lihat Prediksi Harga Beras Kualitas Bawah II">
                </form>
                </div>
            </div>
          </div>
          </div>
          <div style="position:absolute; top: 55%; left: 15%;">
          <div class="col-sm-4">
            <div class="card border-info mb-3">
                <div class="card-header">Prediksi Harga Minyak Goreng</div>
                <div class="card-body text-info">
                  <p class="card-text">Prediksi harga minyak goreng berlaku untuk 5 hari berikutnya dengan menggunakan harga 7 hari terakhir.</p>
                <form action="/da", method="POST">
                <input type="submit" name="subb" class="btn btn-primary" value="Lihat Prediksi Harga Minyak Goreng">
                </form>
                </div>
            </div>
          </div>
        </div>
          <div style="position:absolute; top: 55%; left: 50%;">
          <div class="col-sm-4">
            <div class="card border-dark mb-3">
                <div class="card-header">Prediksi Harga Minyak Goreng Curah</div>
                <div class="card-body text-dark">
                  <p class="card-text">Prediksi harga minyak goreng curah berlaku untuk 5 hari berikutnya dengan menggunakan harga 7 hari terakhir.</p>
                <form action="/da", method="POST">
                <input type="submit" name="subb" class="btn btn-primary" value="Lihat Prediksi Harga Minyak Goreng Curah">
                </form>
                </div>
            </div>
          </div>        
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>